/* Definición de estilos */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Estilos adicionales */
body {
  font-family: 'Rubik', sans-serif;
}



*{
  margin: 0;
  padding: 0;
}

$light:#494949;
$gray: #383838;

.flex{
  display: flex;
  background-color:#999999;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  padding: 50px;
  margin: 0 auto;
  background-color:#999999;
}


.Titehome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 20px;
}


.sideBarMenu{
  background-color: $light;
  padding:  1rem 2rem;
  border-bottom: 1px solid $gray;
}

.custom-input {
  background-color: black;
  color: white;
 
}

.sideBar {
  background-color:#212429;
  width: 14rem;
  min-height: calc(100vh - 52px);  
  border-right: 1px solid #302f2f;
  ul{
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        &.active {
          background-color: #440000;
        }
      }
    }
  }
}
.circu-container {
  text-align: center; 
  margin-top: 1px;
  margin-bottom: 20px; 
}

.Titehome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 20px;
}


.circu{
  margin-bottom: 10px; 
  
}